[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network.target

[Service]
User="{{ user }}"
Group="{{ group }}"
Restart=on-failure
ExecStart="{{ prometheus_path }}/prometheus" --config.file="{{ prometheus_path }}/prometheus.yml"

[Install]
WantedBy=multi-user.target
